@import "config.scss";

.logo {
  float: right ;
  background: url("/images/bookHuntLogo.png") no-repeat;
  height: 158px;
  width: 350px;
}

#header {
  background-color: $header-footer-color;
  height: 43%;
  overflow: auto;
}


.type_of_user_container{
  float:left;
  height:83px;
  margin-bottom:3px;
  width: 63%;
  margin-top: 6%;
  margin-left: -3px;
  .description{
    margin: auto;
    text-align: center;
    font-weight: bold;
  }
}

.user{
  float: left;
  width: 30%;
  height: 76%;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin: 5px;
  a{
    font-color: green;
  }
}

a{
  .seller{
  background: url("/images/sell.png") no-repeat;
  background-color: $yellow-color;
  }
  .buyer{
  background: url("/images/buy.png") no-repeat;
  background-color: $orange-color;
  }
  .exchange{
  background: url("/images/share.png") no-repeat;
  background-color: $maroon-color;
  }
}
