@import "header.scss";
@import "footer.scss";
@import "config.scss";



#container {
  background-color: white;
  width: 80%;
  margin: auto;
  z-index: 1;
}



#content {
  height: 20em;
  margin: auto;
  overflow: auto;
}


body {
  background-color: $background-color;
}

#header ul {
  float: left;
  list-style: none outside none;
  position: relative;
  padding: 10% 0 0 3%;
  color: red;
}


li {
  float: left;
  padding: 0 5px 0 0;
  color: green;
}