.logo {
  float : right ;
  background : url("/images/shelfLogoLight.png");
  height : 154px;
  width : 339px;
}

#container {
  background-color: white;
  width: 80%;
  margin: auto;
  z-index: 1;
}

#header {
  background: url("/images/header_cross_section.png") repeat-x scroll top left transparent;
  height: 43%;
  overflow: auto;
}

#header #slide_show {
  color: red;
  padding: 5px 0 0 30px;
}

#content {
  height: 20em;
  margin: auto;
  overflow: auto;
}

#footer {
/*position: relative;*/
/*top: 80%;*/
  overflow: auto;
  background-color: black;
  color: white;
}

#footer div {
  font-size: 14px;
  padding: 1em 0 0;
  text-align: center;
}

body {
  background-color: #B8BFBF;
}

#header ul {
  float: left;
  list-style: none outside none;
  position: relative;
  padding: 10% 0 0 3%;
  color: red;
}

#footer ul {
  list-style: none outside none;
  padding: 0 2em 17px 31em;
  font-size: 13px;
}

li {
  float: left;
  padding: 0 5px 0 0;
  color: green;
}