@import "config.scss";


.header{
  background-color: $yellow-color;
  @include Reenie_Beanie_font;
  padding: 5px;
}

#container{
  .post_a_book{
    form{
      padding: 20px;
      .form_row{
        clear: both;
        overflow: auto;
        padding: 5px;
        input[type="submit"]{
          width: 12%;
          float: left;
          margin-left: 41%;
        }
        .form_label{
          width: 40%;
          float: left;
          text-align: right;
          padding:5px 10px 0 0;
        }
        .form_field{
          float: left;
        }
      }
    }

  }
  .posted_books table{
    margin: 20px 0 0 0;
    thead tr th{
      width: 10%;
      text-align: left;
    }
    tbody tr th{
      width: 10%;
    }
  }


}
