@import "header.scss";
@import "footer.scss";
@import "config.scss";
@import "dialog.scss";


#container {
  background-color: white;
  width: 85%;
  margin: auto;
  z-index: 1;
  .compare_prices{
    @include Reenie_Beanie_font;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  .save_money{
    @include Reenie_Beanie_font;
    color: $orange-color;
    margin-bottom: 10px;
  }
  .search_container{
    margin: auto;
    form{
      margin: auto;
      #book_first_name{
        display: block;
        width: 50%;
        float: left;
        margin-left: 20%;
      }
    }
  }
  .bottom_bar{
    margin-top: 50px;
    @include Reenie_Beanie_font;
    .cash_for_books{
      .header{
        background-color: $yellow-color;
      }
      float: left;
      width: 33%;
      margin-right: 5px;
    }
    .donate_books{
      .header{
        background-color: $orange-color;
      }
      float: left;
      width: 33%;
      margin-right: 5px;
    }
    .latest_uploads{
      .header{
        background-color: $maroon-color;
      }
      float: left;
      width: 33%;
    }
  }
}



#content {
  height: 20em;
  overflow: auto;
  background-color: $light-gray-color;
  width: 80%;
  .seach_container{
    
  }
}

#right-side-bar {
  height: 20em;
  display: inline;
  width: 20%;
}


body {
  background-color: $background-color;
  @include site_wide_font
}



li {
  float: left;
  padding: 0 5px 0 0;
  color: green;
}