.logo {
    height: 164px;
    width: 267px;
    float: right;
    border: 1px solid grey;
}

#container {
    border: 1px solid grey;
    position: absolute;
    background-color: white;
    top: 0;
    left: 15%;
    right: 15%;
    bottom: 0;
    z-index: 1;
}

#header {
   border: 1px solid grey;
}

#content {
    padding: 0 39px;
    position: relative;
    top: 53%;
}

#footer {
    position: relative;
    top: 80%;
}

body {
    background-color: #B8BFBF;
}

ul{
    list-style:none outside none;
    position:relative;
    top:132px;
}

#footer ul{
    top:-11px;    
}

li{
    float: left;
    padding: 0 5px 0 0;
    color: green; 
}