.logo {
   float: right;
}

#container {
    border: 1px solid grey;
    position: absolute;
    background-color: white;
    top: 0;
    left: 15%;
    right: 15%;
    bottom: 0;
    z-index: 1;
}

#header {
   background:url("/images/header_cross_section.png") repeat-x scroll top left transparent;
   height: 43%;
}

#content {
    padding: 0 39px;
    position: relative;
    top: 53%;
}

#footer {
    position: relative;
    top: 80%;
}

body {
    background-color: #B8BFBF;
}

#header ul{
    list-style:none outside none;
    position:relative;
    top: 40%;
    color:red;
}

#footer ul{
    list-style:none outside none;
    position:relative;
    top:-11px;    
}

li{
    float: left;
    padding: 0 5px 0 0;
    color: green; 
}