= render :partial => 'common/book_search_form'
.bottom_bar
  .cash_for_books
    .header
      Cash for books
    .content  
  .donate_books
    .header
      Donate books
    .content
  .latest_uploads
    .header
      Latest updates
    .content  
