.compare_prices
  Compare prices to find the cheapest textbooks!
.save_money
  Save upto 85%
.search_container
  - form_for :book, @book, :url=> {:action=> 'search'} do |f|
    = f.text_field :first_name
    = submit_tag 'search'
.advanced_search{:style=>'display:none;'}
  advanced search options/tagging