<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Book hunt</title>
  <link href="/stylesheets/layout.css" media="screen, projection" rel="stylesheet" type="text/css">
</head>
<body>
<div id="container">
  <div id="header">
    <div id="slide_show">slide show</div>
    <ul>
        <li><a href="">Sell a book</a></li>
        <li><a href="">My Account</a></li>
        <li><a href="">How it works</a></li>
    </ul>
    <div class="logo">
      &nbsp;
    </div>

  </div>
  <div id="content">
    <%= yield %>
  </div>
  <div id="footer">
    <div class="legalese">
      Copyright &copy; 2010. All Rights Reserved. Book hunt.
    </div>
    <ul>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">FAQ </a></li>
        <li><a href="#">Sitemap </a></li>
    </ul>
  </div>
</div>
</body>
</html>
